@import "tailwindcss";

* {
    box-sizing: border-box;
}

@theme {
    --color-primary: #000000
}

.sm\:border-r:last-child {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
}

input {
    outline: none;
}

.active {
    background-color: #525FE1;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group input {
    border: 1px solid #192335;
    border-radius: 5px;
    padding-left: 5px;
}

.form-group textarea {
    border: 1px solid #192335;
    border-radius: 5px;
    padding-left: 5px;
}

.menu li:hover {
    text-decoration: underline;
}