@import "tailwindcss";

@theme {
    --color-primary: #000000
}

.sm\:border-r:last-child {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
}

input {
    outline: none;
}

.active {
    background-color: #525FE1;
}